@media only screen and (max-width: 320px) {

main section {

    width: 100% !important;        
}

main section h1  {

    font-size: 25px !important;

}

.text-ava {

display: none !important;

}

.text-ava-2 {
    align-items: center  !important;
    justify-content: center !important;
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    display: flex !important;
    margin: 15px 0 0 0!important;
    /* padding-top: 5px; */
}

 main section .img-ava {
    width: 166px !important;
    height: 166px !important;
}

main aside {
  
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 10px !important;
}


main aside .text-info p {

    margin: 8px 0 5px 0 !important;
    word-wrap: break-word;
    width: 320px !important; 
    font-size: 14px !important;
}
.border-01 {

    max-width: 100% !important;
    width: 100% !important;
}

nav .list ul li {
    margin: 8px  0 12px 0 ;
    line-height: 45px;
    height: 45px;
} 

nav .list ul li a {

    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 23px;
}

.border-02 {

    max-width: 100% !important;
    width: 100% !important;
}

footer {
    width: 100% !important;
}

footer ul { 
    position: relative;
    padding: 0 0 0 0 !important;
    justify-content: space-around !important;
    margin: 15px 0 20px 0 !important;
}

}

/* 375 */

@media only screen and (max-width: 375px) {


    .violin {
         width: 100% !important;
         background: url('../../img/bg_miguel.jfif') no-repeat right 58.5% !important;
         top: 0 !important;
       
    }

main section {

    width: 100% !important;
    display: flex !important;  
}


main section h1  {

    font-size: 25px !important;

}

.text-ava {

display: none !important;

}

.text-ava-2 {
    align-items: center  !important;
    justify-content: center !important;
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    display: flex !important;
    margin: 15px 0 0 0!important;
    padding-top: 5px;
}

main section .img-ava {
    width: 166px !important;
    height: 166px !important;

}

main aside {
  
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 10px !important;
}


main aside .text-info p {

    margin: 8px 0 5px 0 !important;
    word-wrap: break-word;
    width: 320px !important; 
    font-size: 14px !important;
}
.border-01 {

    max-width: 100% !important;
    width: 100% !important;
}
nav .list ul li {
    margin: 8px  0 12px 0 ;
    line-height: 45px;
    height: 45px;
} 
nav .list ul li a {

    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 23px;

}
.border-02 {

    max-width: 100% !important;
    width: 100% !important;
   
}


footer {
    width: 100% !important;
}
footer ul { 
    position: relative;
    padding: 0 0 0 0 !important;
    justify-content: space-around !important;
    margin: 15px 0 20px 0 !important;
}

}
/* 425 */


@media only screen and (max-width: 425px) {


.violin {

    /* position: absolute !important; */
    width: 100% !important;
    top: 0 !important;
    
}    
  
main section {

    width: 100% !important;
    display: flex !important;

        
}

main section h1  {

    font-size: 25px !important;

}

.text-ava {

display: none !important;

}

.text-ava-2 {
    align-items: center  !important;
    justify-content: center !important;
    display: flex !important;
    width: 100% !important;
flex-direction: column !important;
    display: flex !important;
    margin: 15px 0 0 0!important;
    padding-top: 5px;
}

main section .img-ava {
    width: 166px !important;
    height: 166px !important;
    padding: 4px !important;
    border-radius: 50% !important;
    border: solid 2px #fff !important;

}


main aside {

  
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 10px !important;
}


main aside .text-info p {

    margin: 8px 0 5px 0 !important;
    word-wrap: break-word;
    width: 320px !important; 
    font-size: 14px !important;
}

.border-01 {

    max-width: 100% !important;
    width: 100% !important;
}
nav .text-info h2 {
font-size: 19px !important;

}
nav .list ul li {
    margin: 8px  0 12px 0 ;
    line-height: 45px;
    height: 45px;
} 
nav .list ul li a {

    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 23px;

}
.border-02 {

    max-width: 100% !important;
    width: 100% !important;
   
}


footer {
    width: 100% !important;
}
footer ul { 
    position: relative;
    padding: 0 0 0 0 !important;
    justify-content: space-around !important;
    margin: 15px 0 20px 0 !important;
}

}

/* 768 */

@media only screen and (max-width: 768px) {


    body {
 
        overflow-y: visible !important;
        overflow-x: hidden !important;  
    }

    main {
  
        padding: 0 0 0 0 !important;
    }

 main.container {

    flex-direction: column; 

 }
    
main section {

    width: 100% !important;
    display: flex !important;
    margin-bottom: 0px !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;        
}

main section h1  {

    font-size: 25px !important;
    margin: 0 0 20px 0 !important;
}

.text-ava {

display: none !important;

}

.text-ava-2 {
    align-items: center  !important;
    justify-content: center !important;
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    display: flex !important;
    margin: 15px 0 0 0!important;
    padding-top: 5px;
    
   
}
.piano {

position: absolute;
top: 14px;
color: #fff;
transition: 2s;
opacity: 0;
}


main section .img-ava {

    width: 166px !important;
    height: 166px !important;
    padding: 4px !important;
    border-radius: 50% !important;
    border: solid 2px #fff !important;
}


.violin {
    position: absolute;
    width: 550px;
    height: 100%;
     background:  url('../../img/bg_miguel.jfif') no-repeat right 60.2%;
    top: 0;
    transition: 2s;
    opacity: 0;
}


.cb-0  {
  
    border: solid 2px #fff !important;
    transition: 3.5s !important;
}

.cb-1  {

    border: solid 2px rgb(48, 251, 251) !important;
    transition: 3.5s !important;
}

.cb-2 {
 
    border: solid 2px rgb(251, 211, 48) !important;
    transition: 3.5s !important;
}


.social-name {
    display: flex !important;
    margin-top: 5px !important;
    font-size: 14px !important;
    opacity: 0.7 !important;
}

/* B-mark */

 .b-mark {
    
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    padding: 0px 3.5px 3px 0;
    position: relative;
    bottom: 2px;
}
.b-mark p, span {
font-size: 9px;
padding: 10px 0 0 3px;

}

.color-mark {
    color: #fff;
    
}

.color-mark:hover  {
    color: #dd5019;
    transition: 1s;
}

/* BTN MUSIC */
.player {

 
    display: flex !important;
    justify-content: center;
    padding: 2px;
    position: relative;
    top: 4px;
    text-rendering: optimizeLegibility;
  
}

.btn-play, .btn-pause {
    font-size: 25px;
    cursor: pointer;
    color: #dd5019;
    text-rendering: optimizeLegibility;
    
}

.btn-pause {
    display: none;
    color: #fff;

}

/*  */

main aside {

  
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0px !important;
}


main aside .text-info {

    margin: 0 0 15px 0;
   
}
main aside .text-info p {

    margin: 10px 0 5px 0 !important;
    /* word-wrap: break-word;
    width: 320px !important;  */
    font-size: 14px !important;
    text-align: center;
}
.border-01 {

    max-width: 100% !important;
    width: 100% !important;
}
nav .text-info h2 {
font-size: 20px !important;
font-family: 'IBM Plex Serif', serif;
text-align: center;

white-space: normal;

}

div.list {
position: relative;
}


nav .list ul {
    text-align: center
}
nav .list ul li {
    margin: 8px  0 12px 0 ;
    line-height: 45px;
    height: 45px;
} 
nav .list ul li a {

    color: #fff;
    letter-spacing: 1px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    font-size: 20px;

}
.border-02 {

    max-width: 100% !important;
    width: 100% !important;
   
}


footer {
    width: 100% !important;
}
footer ul { 
    position: relative;
    bottom: 15px !important;
    padding: 0 0 0 0 !important;
    justify-content: space-around !important;
    margin: 15px 0 15px 0 !important;
}

}

/* 2500 */

@media only screen and (max-width: 2560px) and (min-width: 769px) {

*{  
    user-select: none;
width: 100%;
height: 100%;
background: linear-gradient(to top, #354851, #45026b, #45026b, #45026b, #45026b, #45026b, #45026b, #45026b, #45026b, #45026b, #45026b,#354851) !important;

}

*::after {
    content: "Only available for mobile version (standing device)  Dev: Teo Nogueira";
    text-align: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 46px;
}

body {
 display: none !important;  
}
}